html {
  color: #e6e6e6;
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5; 
  background-color: #004141; 
}


.stinky-background
{
  background-image: url("/Stinky-Dragon-Wiki/images/background-dark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
