---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>StinkyDragonPodcast Wiki</title>
  </head>
  <body>
    <!-- <Image src={background} alt=""></Image>-->
    <h1>StinkyDragonPodcast Wiki</h1>
    <h2>Welcome to the Tales from the Stinky Dragon wiki!</h2>
    <p>Step on in to The Stinky Dragon! Grab yourself a drink, have a seat, and strap in for this week's thrilling tale!</p>
    <p>***Currently under construction, pardon our dust***</p>
  </body>
</html>